NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=une-cle-secrete-longue

GOOGLE_CLIENT_ID=xxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxxxx

GITHUB_CLIENT_ID=xxxxx
GITHUB_CLIENT_SECRET=xxxxx

# Pour le client (navigateur)
NEXT_PUBLIC_API_URL=http://localhost:8000/

# Pour le serveur (Server Actions)
API_URL=http://localhost:8000/